.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: blue;
    background-color: unset;
}
.nav-pills .nav-link {
    color: gray;   
}
.grid-image-sizing, .post-grid-image-sizing{
    width: 100%;
    height: 350px;
    object-fit: cover;
    overflow: hidden;
}
.grid-image-sizing:hover{
    transform: scale(1.1);
    transition: transform .4s;
}
.image-wrapper, .post-image-wrapper {
    max-height: 350px;
    object-fit: cover;
}
.row-photofeed{
    max-height: 300px;
    overflow: hidden;
}
.f-roboto{
    font-family: 'Roboto', sans-serif;
}
.f-dancingScript{
    font-family: 'Dancing Script', cursive;
}
.hover02  img {
	width: 300px;
	height: auto;
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.hover02 :hover img {
	width: 350px;
}

.post, .post-container{
    box-sizing: border-box;
}